@font-face {
    font-family: 'calcFont';
    src: url('fonts/digital-7-webfont.woff2') format('woff2'),
         url('fonts/digital-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

#calculatorBase{
    background-color: gray;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 650px;
    border-radius: 10px;
    padding:10px;
    
}

#calculatorDisplay{
    display: flex;
    flex-direction: column;
    font-family: 'calcFont', 'sans-serif';
    background-color:rgb(188, 238, 188);
    width:390px;
    height: 150px;
    border-radius: 10px;
    justify-content: end;
    align-items: end;
    font-size: 50px;
    padding: 5px;
    

}

#calculatorNumpad{
    display: flex;
    
    
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

button{
    width: 97px;
    height: 97px;
    border-radius: 10px;
    font-size: 30px;

}